# This is a First-Level Title

# Introduction to my Jupyter Notebook practice

This Jupyter Notebook serves as a demonstration and documentation for a specific project or analysis. In this notebook, you will find a combination of code cells and Markdown cells that explain and present the information in a structured manner.

## Purpose

The purpose of this notebook is to:

- Show samples of content in Markdown and Python code.

## Table of Contents

- [Section 1: Data Languages](#languages)
- [Section 2: Data Libraries](#libraries)
- [Section 3: Data Science Tools](#tools)

## <a name="languages"></a>Data Science Languages

- Python
- R
- Julia

## <a name="libraries"></a>Data Science Libraries

- NumPy
- Pandas
- Matplotlib
- Seaborn
- Scikit-Learn
- TensorFlow
- PyTorch

## <a name="tools"></a>Data Science Tools

| Tool         | Description              |
|--------------|--------------------------|
| Jupyter      | Interactive notebooks    |
| VS Code      | Code editor              |
| GitHub       | Version control          |
| Docker       | Containerization         |
| Tableau      | Data visualization       |
| SQL          | Database querying        |
| AWS, Azure   | Cloud platforms          |

## Arithmetic Expression Examples

This section provides examples of basic arithmetic operations.

1. **Addition:**
   - 5 + 3 = 8
   - 12 + 7 = 19

2. **Subtraction:**
   - 10 - 4 = 6
   - 15 - 9 = 6

3. **Multiplication:**
   - 6 * 4 = 24
   - 9 * 5 = 45

4. **Division:**
   - 20 / 4 = 5
   - 18 / 3 = 6

5. **Mixed Operations:**
   - 3 + 2 * 6 = 15 (Follows the order of operations, multiplication first)
   - (8 - 2) / 2 = 3 (Operations inside parentheses are done first)

6. **Exponents:**
   - 2^3 = 8 (2 raised to the power of 3)
   - 4^2 = 16 (4 raised to the power of 2)

7. **Square Roots:**
   - √16 = 4 (Square root of 16)
   - √25 = 5 (Square root of 25)

8. **Fractions:**
   - 1/2 + 1/3 = 5/6 (Adding fractions)
   - 3/4 - 1/4 = 1/2 (Subtracting fractions)

9. **Decimal Arithmetic:**
   - 0.5 + 0.25 = 0.75 (Adding decimals)
   - 1.2 * 2.5 = 3.0 (Multiplying decimals)

10. **Order of Operations:**
    - 3 + 4 * 2 = 11 (Multiplication before addition)
    - (3 + 4) * 2 = 14 (Operations inside parentheses first)

In [2]:
# Multiply and add numbers
result = (5 * 3) + 7
result

22

In [3]:
# Convert minutes to hours
minutes = 120
hours = minutes / 60
hours

2.0

## Objectives

- Provide an introduction to data science.
- Introduce basic arithmetic expressions.
- List common data science languages and libraries.

## Author

- Ismael Limo Llanos